.login2(ng-controller='SignInCtrl')
  .login-wrapper
    a(href='./')
      img(width='160', height='160', src='/static/logo/exports/STF-512.png', title='JTF')

    form(name='signin', novalidate, ng-submit='submit()')
      .alert.alert-danger(ng-show='error')
        span(ng-show='error.$invalid', translate) 用户名或者密码错误
        span(ng-show='error.$incorrect', translate) 用户名或者密码错误
        span(ng-show='error.$server', translate) 系统错误，请联系管理员。

      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-user
          input.form-control(ng-model='username', name='username', required, type='text', placeholder='用户名',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login username')
        .alert.alert-warning(ng-show='signin.username.$dirty && signin.username.$invalid')
          span(ng-show='signin.username.$error.required', translate) 请输入用户名

      .form-group
        .input-group
          span.input-group-addon
            i.fa.fa-lock
          input.form-control(ng-model='password', name='password', required, type='password', placeholder='密码',
          autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login current-password')
        .alert.alert-warning(ng-show='signin.password.$dirty && signin.password.$invalid')
          span(translate) 请输入密码

      input.btn.btn-lg.btn-primary.btn-block(type='submit', value='登录')
